/* HEADER */

header{
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: top;
   top:0;
}

.dh-logo{
   height: 120px;
   width: 120px;
}

.hamburg{
   margin: 10px;
   height: 60px;
   width: 60px;
   position: relative;
   transition: .3s ease;
}
.hamburg:hover{
   cursor: pointer;
}
.hamburg.active{
   margin: 10px;
   transform: rotate(360deg);
}
.nav{
   display: flex;
   position: relative;
}
.nav-slide{
   position: absolute;
   height: max-content;
   width: 230px;
   background-color: rgba(0,0,0,0.1);
   box-shadow: 3px 3px 3px 5px rgba(0,0,0,0.1);
   right: -400px;
   bottom: -210px;
   font-size: 40px;
   transition: .3s ease;
}

.nav-slide.active{
   right: 10px;
}

.links{
   transition: all 0.1s;
   text-decoration: none;
   color: black;
   margin: 10px;
}

.links:hover{
   cursor: pointer;
   text-decoration: underline;
   color: rgb(170, 132, 90);
}

.links:active{
   text-decoration: underline;
   color: rgb(90,90,90);
}
