@media (max-width: 1000px) and (min-width: 700px) {
   html,
   body{
      width: 100%;
      overflow-x: hidden;
   }

   .main-slogan{
      font-size: 3.5rem;
   }

   .main-slogan-sub{
      font-size: 1.5rem;
   }
   .preview{
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
   }
   
   .p-text{
      font-size: 1.5rem;
      text-align: center;
   }

   .main-tag{
      visibility: hidden;
   }

   .bob-tag{
      visibility: visible;
      margin-bottom: -40px;
      z-index: 5;
   }
   .p-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
   }

   .CAD{
      font-size: 1rem;
      padding: 0.5rem;
   }

}

@media (max-width: 700px) {
   html,
   body{
      width: 100%;
      overflow-x: hidden;
   }

   .header-box{
      width: 100%;
   }

   .main-slogan{
      font-size: 2.5rem;
   }

   .main-slogan-sub{
      font-size: 1rem;
   }
   .preview{
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
   }
   
   .p-text{
      font-size: 1rem;
      text-align: center;
   }

   .main-tag{
      visibility: hidden;
   }

   .bob-tag{
      visibility: visible;
      margin-bottom: -40px;
      
      z-index: 5;
   }

   .p-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
   }

   .CAD{
      font-size: 0.7rem;
      padding: 0.5rem;
   }

   /* JOURNEY */

   .jn-text{
      font-size: 2rem;
      margin-top: 100px;
   }
   
   .jn-pics{
      width: 100%;
      justify-content: center;
      display: flex;
      margin: 0;
      height: max-content;
   }

   .j-pic{
      width: 70%;
      height: max-content;
   }
   .comm-pic{
      width: 100%;
      height: max-content;
   }

   footer{
      margin-top: 50px;
      padding: 50px;
      height: 200px;
      column-gap: 50px;
      justify-content: center;
      align-content: center;
      border-top: 1px dashed rgba(0, 0, 0, 0.5);
   }
   
   .f-logo{
      width: 200px;
      height: 200px;
   }
   
   .f-text{
      font-size: 1rem;
      color: black;
      text-shadow: none;
   }

   /* WORKSHOP */

   .ws-text{
      font-size: 2rem;

   }
}

@media (max-width: 500px) {
   .bob-text{
      width: 100%;
   }

   .jn-text{
      font-size: 1.5rem;
   }
   .ws-text{
      font-size: 1.5rem;
   }

}