/* HEADER */
html{
   display: flex;
   justify-content: center;
   align-content: center;
}

header{
   width: 100%;
   height: max-content;
   position: fixed;
   display: flex;
   justify-content: center;
   background-color: rgba(255, 255,255, 0.7);
   backdrop-filter: blur(16px);
   top:0;
   align-self: center;
   z-index: 100;
}

.header-box{
   width: 1200px;
   height: max-content;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.dh-logo{
   height: 70px;
   width: 70px;
}


body{
   padding-top: 120px;
   width: 1000px;
   display: flex;
   justify-content: center;

}

/* MAIN */
main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.main-slogan{
   font-family: "Inter", sans-serif;
   font-size: 5rem;
   color: black;
   margin: 0;
   text-shadow: none;
   font-weight: 600;
}

.main-slogan-sub{
   margin: 0;
   color: black;
   text-shadow: none;
}

.preview{
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   height: 450px;
   width: 100%;
   align-items: center;
   align-content: center;
   justify-content: center;
}

.main-tag{
   width: 200px;
}
.bob-tag{
   height: 80px;
   width: 80px;
   object-fit: cover;
   visibility: hidden;
}
.p-image{
   width: 300px;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
}
.p-text{
   color: black;
   width: 600px;
   text-shadow: none;
   font-size: 25px;
   text-align: unset;
}
.CAD{
   margin-top: 70px;
   padding: 1rem  ;
   width: max-content;
   height: max-content;
   color: white;
   background-color: rgb(40,40,40);
   border: 3px solid black;
   border-radius: 10px;
   font-family: "Bebas Neue", sans-serif;
   font-size: 1.5rem;
   box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
   transition: 0.3s ease;
   align-self: center;
}
.CAD:hover{
   background-color: rgb(90,90,90);
   cursor: pointer;
}
.CAD:active{
   background-color: white;
   color: rgb(0, 0, 0);
}

/* WORKSHOP SECTION */

.ws-text{
   font-size: 3rem;
   color: black;
   margin-top: 100px;
   text-shadow: none;
   font-weight: 600;
}

.ws-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
   margin: 100px 0 50px 0;
}

.ws-row{
   display: flex;
   flex-direction: row;
   width: 100%;
   column-gap: 20px;
   justify-content: center;
}

.tag{
   width: 90%;
}

.ws-pics{
   width: 100%;
   height: 400px;
   position: relative;
   justify-content: center;
   display: flex;
}

.pic{
   position: absolute;
   width: 70%;
   height: 70%;
   object-fit:contain;
   z-index: 5;
}
#todo ,
#journal ,
#track{
   visibility: hidden;
}

/* JOURNEY SECTION */


.jn-content{
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.jn-text{
   font-size: 3rem;
   color: black;
   margin-top: 100px;
   text-shadow: none;
   font-weight: 600;
}

.jn-pics{
   width: 100%;   
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 1000px;
}
.j-pic{
   height: 500px;
   width: 800px;
}

.comm-pic{
   height: max-content;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* FOOTER */

footer{
   margin-top: 100px;
   padding: 50px;
   height: 400px;
   align-items: top;
   display: flex;
   flex-direction: column;
   column-gap: 50px;
   justify-content: center;
   align-items: center;
}
.f-logo{
   height: 350px;
   width: 300px;
}

.f-text{
   font-size: 30px;
}

@media (max-width: 1000px) and (min-width: 700px) {
   html,
   body{
      width: 100%;
      overflow-x: hidden;
   }

   .main-slogan{
      font-size: 3.5rem;
   }

   .main-slogan-sub{
      font-size: 1.5rem;
   }
   .preview{
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
   }
   
   .p-text{
      font-size: 1.5rem;
      text-align: center;
   }

   .main-tag{
      visibility: hidden;
   }

   .bob-tag{
      visibility: visible;
      margin-bottom: -40px;
      z-index: 5;
   }
   .p-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
   }

   .CAD{
      font-size: 1rem;
      padding: 0.5rem;
   }

}

@media (max-width: 700px) {
   html,
   body{
      width: 100%;
      overflow-x: hidden;
   }

   .header-box{
      width: 100%;
   }

   .main-slogan{
      font-size: 2.5rem;
   }

   .main-slogan-sub{
      font-size: 1rem;
   }
   .preview{
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
   }
   
   .p-text{
      font-size: 1rem;
      text-align: center;
   }

   .main-tag{
      visibility: hidden;
   }

   .bob-tag{
      visibility: visible;
      margin-bottom: -40px;
      
      z-index: 5;
   }
   .p-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
   }

   .CAD{
      font-size: 1rem;
      padding: 0.5rem;
   }

   /* JOURNEY */

   .jn-text{
      font-size: 2rem;
      margin-top: 100px;
   }
   
   .jn-pics{
      width: 100%;
      justify-content: center;
      display: flex;
      margin: 0;
      height: max-content;
   }

   .j-pic{
      width: 70%;
      height: max-content;
   }
   .comm-pic{
      width: 100%;
      height: max-content;
   }

   footer{
      margin-top: 50px;
      padding: 50px;
      height: 200px;
      column-gap: 50px;
      justify-content: center;
      align-content: center;
      border-top: 1px dashed rgba(0, 0, 0, 0.5);
   }
   
   .f-logo{
      width: 200px;
      height: 200px;
   }
   
   .f-text{
      font-size: 1rem;
      color: black;
      text-shadow: none;
   }

   /* WORKSHOP */

   .ws-text{
      font-size: 2rem;

   }
}
